<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<!-- 控制台日志配置 -->
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<!-- 日志输出格式 -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
		</layout>
	</appender>

	<!-- 文件存储日志配置 -->
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<!-- 保存文件的名称 -->
		<file value="log4\log.txt" />
		<appendToFile value="true" />

		<rollingStyle value="Composite"/>
		<datePattern value="yyyyMMdd.txt" />
		<!-- 文件的编码方式 -->
		<param name="Encoding" value="UTF-8"/>
		<!-- 每个文件的大小 -->
		<maximumFileSize value="100KB" />
		<!-- 保存文件数量 -->
		<maxSizeRollBackups value="10" />
		<!-- 日志输出格式 -->
		<layout type="log4net.Layout.PatternLayout">
			<!--<conversionPattern value="%level [%d{yyyy-MM-dd HH:mm:ss}] %thread %logger - %message%newline" />-->
			<conversionPattern value="%level [%d{yyyy-MM-dd HH:mm:ss}] %thread  - %message%newline" />

			<!--
			%M      输出日志方法名
			%m      输出日志消息内容
			%p      输出优先级，即DEBUG，INFO，WARN，ERROR，FATAL
			%r      输出自应用启动到输出该log信息耗费的毫秒数
			%c      输出所属的类目，通常就是所在类的全名
			%t      输出产生该日志事件的线程名
			%n      输出一个换行符
			%l或%L  输出日志事件的发生位置，包括类目名、发生的线程，以及在代码中的行数。
			%c      输出日志信息所属的类的全名
			%d      输出完整的日志时间点的日期时间，支持自定义格式。比如：%d{HH:mm:ss}，输出类似：22:10:28
			%f      输出日志信息所属的类的类名
			-->
		</layout>
	</appender>

	<!--Mysql形式-->
	<appender name="Appender_mysql" type="log4net.Appender.AdoNetAppender">
        <!--日志缓存写入条数 设置为0时只要有一条就立刻写到数据库-->
        <bufferSize value="0" />
        <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
        <connectionString value="server=47.116.53.148;database=zy_factory;user=admin;pwd=sa123456;SslMode=none" />
		<commandText value="INSERT INTO SystemLog (date,thread,level,logger,message,exception) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
       	<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
    </appender>

		<!--SqlServer形式-->
	<!--log4net日志配置：http://logging.apache.org/log4net/release/config-examples.html -->
	<!--<appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
		--><!--日志缓存写入条数 设置为0时只要有一条就立刻写到数据库--><!--
		<bufferSize value="0" />
		<connectionType value="System.Data.SqlClient.SqlConnection,System.Data.SqlClient, Version=4.6.1.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<connectionString value="Data Source=47.116.53.148;Initial Catalog=zy_factory;User ID=admin;Password=sa123456;MultipleActiveResultSets=true" />
		<commandText value="INSERT INTO SystemLog ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
	</appender>-->
	<root>
		<level value="ALL" />
		<appender-ref ref="Console" />
		<appender-ref ref="Appender_mysql" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>